<h1>id: <%= @task.id %> の課題詳細ページ</h1>

<h3> content:<%= @task.content  %> status: <%= @task.status  %> </h3>

<%= link_to 'この課題を編集する', edit_task_path(@task), class: "btn btn-default" %>
<%= link_to '課題の削除をする', @task, method: :delete, data: { confirm: '本当に削除しますか?'} , class: "btn btn-danger" %> 